.year-of-life{
    display: flex;
}

.year-of-life .age {
    font-size: 10px;
    position:absolute;
    margin-left: -10px;
}

.week-of-life {
    display: block;
    margin:1px;
    width: 10px;
    height: 10px;;
    border: 1px solid black;    
}

.week-of-life.lived {
    background-color: black;   
}